body {
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 75%;
    height: 90%;
    min-width: 1000px;
}

.left,
.right {
    height: 100%;
}

.left {
    width: 35%;
    border-right: 1px solid grey;
}

.right {
    width: 65%;
}

.left .header,
.right .header {
    height: 60px;
    background-color: rgb(234, 234, 234);
}

.left .notifications {
    height: 70px;
    background-color: rgb(142, 218, 252);
}

.left .nav-search {
    height: 50px;
    background-color: rgb(243, 238, 234);
    border: 1px solid transparent;
}

.left .nav-search .input-group {
    width: 98%;
    margin-left: 5px;
    padding: 2px;
}

.input-group-text {
    border: 0;
}

.left .contacts {
    height: calc(100% - 60px - 70px - 50px);
    overflow-y: auto;
    background-color: white;
}


.right .messages {
    height: calc(100% - 60px - 60px);
    overflow-y: auto;
    background-image: url('img/mine.jpg');
    background-size: cover;
    background-position: center;
}

.right .footer {
    height: 60px;
    background-color: rgb(243, 238, 234);
}

.header img,
.contacts img {
    width: 47px;
}

.header i {
    color: rgb(177, 177, 177);
    font-size: 20px;
}

.footer i {
    color: rgb(134, 165, 188);
    font-size: 20px;
}

.special {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.fa-solid, a,
.fa-search {
    color: rgb(134, 165, 188);
}

small {
    font-size: 13px;
    color: rgb(177, 177, 177);
}

.list-hover:hover {
    cursor: pointer;
    background-color: lightgray;
}

.input-group-text {
    background-color: white;
}

.form-control {
    border: 1px solid transparent;
    width: 85%;
}

.sixe-text {
    font-size: 15px;
}

.position-text, .position-text p {
    position: relative;
}

.text-small {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 10px;
}

.fa-chevron-down{
    position: absolute;
    top: 5px;
    right: 5px;
    color: lightgray;
    display: none;
}

.message-options {
    position: absolute;
    top: 19px;
    right: 5px;
    width: 150px;
    height: 70px;
    padding: 13px;
    background-color: white;
}

.delete-message, .message-info {
    font-size: 15px;
    cursor: pointer;
}

.text-contact {
    color: lightgray;
    font-size: 14px;
}

.position-text p:hover .fa-chevron-down{
   display: block;
}

.sent, .received {
    width: 250px;
}

.sent{
    background-color: rgb(213, 249, 186);  
}


.received {
    background-color: white;
}


